{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock page_title %}</title>

  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block css %}{% endblock css %}
</head>
<body>
  <header class="navbar">
    <a id="brand-logo" href="{% url 'home' %}">Link.ly</a>
    <nav class="nav-link">
      {% block nav_link %}
        <a href="{% url 'create-link' %}">Create Link</a>
      {% endblock nav_link %}
    </nav>
  </header>
  {% block content %}{% endblock content %}
</body>
</html>